[submodule "SDL2Image"]
	# git submodule add --force -b SDL2Image --name SDL2Image https://github.com/AmanRathoreP/useful-libs vendor/SDL2Image
	path = vendor/SDL2Image
	url = https://github.com/AmanRathoreP/useful-libs
	branch = SDL2Image
[submodule "imgui"]
	# git submodule add --force -b docking --name imgui https://github.com/ocornut/imgui vendor/imgui
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "implot"]
	# git submodule add --force --name implot https://github.com/epezent/implot vendor/implot
	path = vendor/implot
	url = https://github.com/epezent/implot
